:root {
    --ff-primary: "Proxima Nova,helvetica neue,helvetica,arial,sans-serif"; 

    --fc-primary: #212124;
    --fc-secondary: rgb(255, 0, 0);

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;

    --primary-margin: 20px;
}
 
h1 {
    font-size: var(--fs-h1);
    background-color: rgba(59,130,246,.5);
}
h2 {
    font-size: var(--fs-h2);
    background-color: rgba(59,130,246,.5)
}
h3 {font-size: var(--fs-h3)}
 
html {
    scroll-behavior: smooth;
    background: black;
    background-size:cover;
    background-attachment: fixed;
    background-blend-mode:lighten;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    color: var(--fc-primary);
    font-family: var(--ff-primary);
    text-align: center;
    font-size:larger;
 }

header {
    margin: 0;
    padding: 15px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFF;
}

#Experience, #Projects, #Interests {
    margin-bottom: 0;
}

header img {
    max-width: 120px;
}


#website-sections {
    margin: auto 0;
}
 
#website-sections ul{
    padding-top: 8px;
    display: flex;
    justify-content: center;
}

header div ul li {
    list-style-type: none;
    margin: 0 5px;
    padding: 0 20px;
}
 
body {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
 }

body h3, h2{
    text-align: center;
}

body a, body a:visited{
    color: var(--fc-primary);
}

.project-section {
    display: flex;
    flex-direction: row;
}

.project-container {
    position: relative;
    width: 50%;
}

.project-section img {
    display: block;
    width: 100%;
    height: auto;
}

.project-description-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(59,130,246,.9);
}

.project-container:hover .project-description-overlay{
    opacity: 1;
}

.project-description {
    color: #FFF;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.interest-section {
    color: #FFF;
    background-color: var(--fc-primary);
    padding: 10px;
}

footer {
    padding: 20px 0;
    background: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: var(--ff-primary);
    background-color: rgba(59,130,246,.5);
 }