DOCTYPE {
   background: url(//Images/sf-wallpaper.jpeg);
}
:root {
    --ff-primary: Arial, Helvetica, sans-serif; 

    --fc-primary: rgb(0,0,0);
    --fc-secondary: rgb(255, 0, 0);

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;

    --primary-margin: 20px;
}



h1 {font-size: var(--fs-h1)}
h2 {font-size: var(--fs-h2)}
h3 {font-size: var(--fs-h3)}

html {
    scroll-behavior: smooth;
    background: black;
    background-size:cover;
    background-image: url(../Images/sf-wallpaper.jpeg);
    background-attachment: fixed;
    background-blend-mode:lighten;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    color: var(--fc-primary);
    font-family: var(--ff-primary);
    text-align: center;
}
header {
    margin: var(--primary-margin);
    align-items: center;
}

header div{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

div.menu-link-div{
    font-size: large;
    background-color: rgb(255 255 255 / 0.3);
    backdrop-filter: blur(10px);
    padding: 5px;
    border-radius: 5px;
}

div.menu-link-div a, div.menu-link-div a:visited{
    color: var(--fc-primary);
    text-decoration: none;
}

/* work on formatting for this header */
/* div.expanded-header{
    display: none; 
} */

body {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    max-width: 800px;
}

#welcome-img {
    max-width: 200px;
}

#home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 570px) {
    #home {
        flex-direction: column;
        align-items: center;
    }
}

#home h3{
    align-items : center;
    text-align: center;
}

body h3, h2{
    text-align: left;
}

body a, body a:visited{
    color: var(--fc-secondary);
}

div.primary-body-div {
    background-color: rgb(255 255 255 / 0.6);
    backdrop-filter: blur(5px);
    margin: var(--primary-margin);
    border-radius: 5px;
    padding: 20px;
}

div.primary-body-div h2{
    text-align: center;
}

div.projects div{
    border: rgb(0,0,255);
}


div.primary-body-div p, h3 {
    margin: 15px;
    text-align: left;
}

/* footer */
.footer {
    background: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

