*::before,
*::after {
    box-sizing: border-box
}

:root {
    --ff-primary: 'Tinos', serif; 
    --ff-secondary: 'Roboto', serif;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-bg: #fff;
    --clr-dark: #303030;
    --clr-accent: rgba(35, 180, 224, 0.692);
    --clr-blaccent: rgb(120, 198, 224);

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs : 0.25em 0.25em 0.75em rgba(0,0,0,.25), 0,125em 0,125em 0.25em rgba(0,0,0,0.15);

    @media (min-width: 800 px) {
        :root {
            --fs-h1: 4.5rem;
            --fs-h2: 3.75rem;
            --fs-h3: 1.5rem;
            --fs-body: 1.125rem;  
        }
    }
}

/* General styles */

html {
    scroll-behavior: smooth;
}

body {
    background : var(--clr-bg);
    color: var(--clr-dark); 
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong {font-weight : var(--fw-bold)}

:focus {
    outline : 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/*buttons */

a.btn {
    display: incline-block;
    padding: .5em 1.5em;
    margin-right: 12px;
    background: var(--clr-blaccent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    justify-content: space-around;
}

a.btn:hover {
    opacity: 0.8;
    text-decoration: underline;
}

/*Typography*/
h1,
h2,
h3 {
    line-height: 1.7;
    margin: 0;
}

h1 {font-size: var(--fs-h1)}
h2 {font-size: var(--fs-h2)}
h3 {font-size: var(--fs-h3)}

.section__title{ 
    margin-bottom: 0.25em;
}

.section__subtitle{
    margin: 0;
    font-size: var(--fs-h3);
}

.section__title--intro strong {
    display: block;
}

.section__title--intro{
    font-weight: var(--fw-reg);
    color: black;
    text-align: center;
    margin: 1em 0;;
}

.section__subtitle--intro{
    background: var(--clr-accent);
    padding : .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    text-align: center;
}

.section__subititle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom : 2em;
}

/* header */

header {
    display: flex;
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: var(--clr-bg);
    z-index: 3;
    margin: auto;
}

.logo {
    max-width: 55px;
    position: sticky;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-bg);
    top: 0;
    bottom: 0;
    left: 0; 
    right: 0;
    z-index: 100;

    transform: translateX(1000%);
    transition: transform 250ms cubic-bezier(0.5, 0, .5, 1);
}
 
.nav__list {
    list-style: none;
    display : flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin : 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: 0.5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em; 
    top: 1em;
    z-index: 1000;
}


.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
} 

.hamburger {
    display: block;
    position: relative; 
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after{ 
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before{top: 6px;}
.hamburger::after{bottom: 6px;}

/* Intro section */

.intro {
    margin-top: 85px;
    position : relative;
    justify-content: space-between;
    padding: 0.5em;
}

.intro__img {
    box-shadow: var(--bs);
    margin: 1em 0;
}

@media (min-width : 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subttitle"; 
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self : start;
        grid-column : -1 /1;
        grid-row : 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
} 

#planetMoney {
    color: green;
}

/* About me section */

.about-me-grid {
    box-sizing: border-box;
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: var(--row-height);
}
 
@media screen and (max-width: 650px) {
    .about-me-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .econ-btn {
        grid-column: span 2;
    }
}

.aboutMe {
    background-color: var(--clr-dark);
    background-image : url(/Images/osu.png);
    background-size : cover;
    /*darkens background */
    background-blend-mode: multiply; 
    color: (var(--clr-accent));
    text-align: center;
}

.meAbout {
    color: var(--clr-bg);
    font-family: var(--ff-secondary);
    margin-bottom: 0.65em;
    font-size: var(--fw-h3);
}

.btn-about-me {
    white-space: nowrap;
}

.iection__title--aboutme,
.section__title--idols {
    color: var(--clr-blaccent);
    position: relative;
}

.section__title--aboutme::after,
.section__title--idols::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 0.75em;
    background: var(--clr-bg);
    opacity: 0.25;
}

/*Econ section*/

.section__title--econ {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 1em;
}

.econ {
    max-width: 1000px;
    margin: 0 auto; 
}

.econ-img {
    width: 100%;
    height: 95%;
}

.econ-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    margin: 0 1em;
    overflow-x: scroll;
}

.close {
    z-index: 4;
    top: 25px;
    right: 57;
}

.idol-grid,
.sports-grid {
    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.idol-grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;

    overflow: hidden;
    cursor: pointer;
    transition: 0.3s all ease;
}

.sports-grid img {
    width: 100%;
    object-fit: contain;
    max-height: 100%;
}
.epl-logo {
    transform: scaleY(1.1);
    height: 100%;
    max-width: 100%;
}

.idol-grid img:hover {
    opacity: 50%;
}
 
@media screen and (max-width: 950px) {
    .idol-grid,
    .sports-grid {
        --num-cols: 2;
        --row-height: 200px
    }
}

.ryan, 
.nba {
    grid-column: span 2;
    grid-row: span 2;
    z-index: 2;
}

.my-idols {
    background-color: var(--clr-dark);
    color: var(--clr-accent);
    text-align: center;
}

.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    z-index: 3;
    overflow: auto;
    opacity: 0;
    pointer-events: none; 
}

.modalContent {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modalImg {
    width: 80%;
    max-width: 700px;
}
.modalTxt {
    margin-top: 1em;
}

.modal.appear {
    opacity: 1;
    pointer-events: all;
} 
.modal.appear .modalImg,
.modal.appear .modalTxt {
    animation: zoom 0.3s linear;
}

@keyframes zoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
}

/*sports section*/
.section__title--sports {
    text-align: center;
}

.sports {
    background-color: var(--clr-bg);
}

.sports img:hover {
    opacity: 80%; 
    margin: 2em;
}

/* footer */
.footer {
    background: var(--clr-dark);
    color: var(--clr-blaccent);
    text-align: center;
    padding: 2.5em 0;
}

.footer a{
    text-align: center;
    color: inherit;
}

.social-list__link:hover {
    opacity: 0.7;
    text-decoration: underline;
}

.footer__link{
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}

ul {
    list-style: none;
}

